*{
    box-sizing: border-box;
}
body{
    background-color: darkorchid;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}
.container{
    background-color: azure;
    height: 200px;
    text-align: center;
}